.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid #0000;
  background: rgb(112, 76, 182);
  color: #fff;
  border-radius: 2px;
  transition: all 0.15s;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}
